{% extends 'default.html.twig' %}

{% block main_title %}Help{% endblock %}

{% block main_content %}
    <h2>Payone</h2>
    <h3>Valid Credit Cards</h3>
    <p>
        This mock service will accept every credit card number, which match the regular expression: <code>/^[123456]/</code>
    </p>
    <h2>Heidelpay</h2>
    <h3>Valid Credit Cards</h3>
    <p>
        Creditcard validation is unchanged from the test-system of heidelpay
    </p>
{% endblock %}
