{% extends 'base.html.twig' %}

 {% block main %}
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
             <h1 class="h2">{% block main_title %}My Title{% endblock %}</h1>
         </div>

         <div class="default-body">
             {% block main_content %}
                 <h3>Subtitle</h3>
                 <p>Here is my content</p>
             {% endblock %}
         </div>
     </main>
 {% endblock %}